$clr-bg-gradient-1: #d3e4c5;
$clr-bg-gradient-2: #7f9686;

$clr-fg: #031833;

// $clr-bg: #F7F7F7; /* A very light gray for a clean and neutral background */
// $clr-fg: #333333; /* A dark charcoal gray for strong text contrast */
// $clr-primary: #8A2BE2; /* A rich electric violet for primary actions */
// $clr-secondary: rgba(138, 43, 226, 0.2); /* A lighter, translucent violet for secondary elements */
// $clr-accent: #FF4500; /* A bold orange-red for accentuating important elements */

// $clr-accent: #ff2600;

// $clr-bg-dark: darken($clr-bg, 20%);
// $clr-border: darken($clr-primary, 10%);
// $clr-outline: rgba(102, 167, 67, 0.25);
// $clr-secondary-outline: rgba(155, 254, 102, 0.25);

// $clr-selection: rgba(155, 254, 102, 0.25);

$dur-small: 0.2s;

$header-height: 4.5rem;